#container {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    position: relative;
}

.leftBox {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.key {
    margin-left: 1.5em;
    text-align: left;
}

.rightBox {
    position: absolute;
    left: 55.5%;
    top: 40%;
}

h1 {
    color: rgb(59, 4, 59);
    margin: 0.5rem 0 0.5rem 0;
}

canvas {
    margin-bottom: 1em;
    /* background-color: black; */
}

a {
    text-decoration: none;
}